[buildout]
parts = external python
develop = .
eggs = bob
       gridtk
       antispoofing.lbptop
find-links = http://www.idiap.ch/software/bob/packages/xbob/nightlies/last

[external]
recipe = xbob.buildout:external
egg-directories = /idiap/home/tpereira/bob/bob/build

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
